<!DOCTYPE html>
<html>
<head>
  <title>Analysis of Class Marks</title>
</head>
<body>
  <div id="chart-container">FusionCharts will render here</div>
  <script src="http://localhost/studentMarks/js/jquery-2.2.3.min.js"></script>
  <script src="http://localhost/studentMarks/js/fusioncharts.js"></script>
  <script src="http://localhost/studentMarks/js/fusioncharts.charts.js"></script>
  <script src="http://localhost/studentMarks/js/themes/fusioncharts.theme.zune.js"></script>
  <script src="http://localhost/studentMarks/js/app.js"></script>
</body>
</html>